* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --text-color: #fff;
    --btn-color: rgb(83, 83, 224);
    --blue-btn: rgb(2, 2, 211);
}

.container{
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/whitebg.avif);
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/masala-4096891.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5;
    position: relative;
    padding-top: 4rem;
}

.nav{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(./img/jaspreet-kalsi-twVW-dYQjm8-unsplash.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(./img/about14.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 2rem .8rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.site-name {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(255, 238, 0);
    /* color: white; */
    text-shadow: 1px 1px 3px black;
}

.nav-items{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
}

.nav-items a{
    font-size: 1.3rem;
    font-weight: 700;
    /* color: white; */
    color: rgb(255, 255, 255);
    transition: all .2s linear;
    text-shadow: 2px 2px 3px black;
}

.nav-items a:hover {
    transform: translateY(-3px);
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: black;
    padding: 0rem .3rem;
    border-radius: .3rem;
    text-shadow: none;
}

.nav-item i {
    color: var(--text-color);
    font-size: 1.7rem;
    display: none;
}

/* Nav Responsiveness */
@media(max-width:550px){
    .nav{
        padding: .6rem .7rem;
    }
    .site-name{
        font-size: 1.3rem;
    }
    .nav-items a{
        font-size: 1.1rem;
    }
    .nav-items{
        gap: 1.4rem;
    }
}

@media(max-width:373px){
    .site-name{
        font-size: 1.1rem;
    }
    .nav-items a{
        font-size: 1rem;
    }
    .nav-items{
        gap: .8rem;
    }
}

.middle{
    width: 90%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(./img/whitebg.avif);
    /* background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(./img/jaspreet-kalsi-twVW-dYQjm8-unsplash.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 1rem 4rem;
    border-radius: .5rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(72, 72, 72, 0.2) 0px 60px 40px -7px;
    /* color: var(--text-color); */
    /* color: var(--text-color); */
}

.middle-heading{
    font-size: 2.3rem;
    text-decoration: underline;
}

.middle-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mb-left{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
}

.mb-left-para{
    font-size: 1.3rem;
    font-weight: 500;
}

.touch{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.get{
    font-size: 1.5rem;
    font-weight: 700;
}

.add-info{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.ai-para span{
    font-size: 1.4rem;
}

.mb-right img{
    /* border: 2px solid green; */
    height: 430px;
    width: 430px;
    border-radius: .8rem;
}

/* Middle Responsiveness */
@media(max-width:1037px){
    .middle{
        padding: 1rem;
        gap: 1rem;
    }
    .mb-right img{
        width: 380px;
        height: 380px;
    }
}

@media(max-width:850px){
    .middle{
        padding: 1rem 0;
        height: 430px;
    }
    .middle-boxes{
        flex-direction: column;
    }
    .mb-left{
        order: 3;
        width: 96%;
        position: relative;
        top: -160px;
        left: 20px;
    }
    .mb-right img{
        height: 200px;
        width: 200px;
        position: relative;
        top: -150px;
        left: -220px;
    }
}

@media(max-width:810px){
    .middle{
        height: 470px;
    }
}

@media(max-width:650px){
    .mb-right img{
        left: -180px;
    }
    .mb-left{
        left: 5px;
    }
}

@media(max-width:558px){
    .middle{
        height: 500px;
    }
    .mb-right img{
        left: -140px;
    }
    .mb-left{
        left: 2px;
    }
    .middle-heading{
        font-size: 1.8rem;
        z-index: 800;
    }
}

@media(max-width:450px){
    .container{
        padding-top: 1rem;
    }
    .middle{
        height: 520px;
        margin-bottom: 2rem;
    }
    .mb-right img{
        left: -80px;
        height: 250px;
        width: 250px;
        top: -70px;
        opacity: .6;
    }
    .mb-left{
        top: -250px;
    }
    .mb-left-para{
        color: black;
    }
}

@media(max-width:389px){
    .middle{
        height: 550px;
    }
}

@media(max-width:350px){
    .middle{
        height: 620px;
    }
    .mb-right img{
        left: -30px;
    }
}


/* Footer Styling */
.footer {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(./img/footer3.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-container {
    width: 100%;
}



.nw {
    animation: zoom-in 3s ease-in-out 0s forwards;
    opacity: 0;
    transition: all .5s linear;
}

.nw:hover {
    background-color: #ffffff;
    color: black;
    text-shadow: 2px 2px 2px rgb(255, 40, 176);
}

@keyframes zoom-in {
    0% {
        transform: scale(-1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Footer Bottom Styling */
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: var(--text-color);
    /* box-shadow: rgba(60, 22, 22, 0.858) 0px 14px 28px, rgba(205, 8, 8, 0.22) 0px 10px 10px; */
    width: 100%;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: .9em;
}

.fcompany-name p {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: rgb(127, 37, 37);
    display: inline-block;
    padding: .2em .7em;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: .1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-para {
    width: 60%;
    font-size: 1.15rem;
    color: #fff;
}

.footer-middle {
    display: flex;
    flex-direction: column;
    gap: .7em;
    padding: .7em 1.2em;
    border-radius: .9em;
    background-color: rgb(192, 174, 174);
    box-shadow:rgba(4, 88, 255, 0.947)  6px 6px 13px -3px;
    margin-right: 17em;
}

.quick {
    font-size: 1.4em;
    font-weight: 500;
    color: #0044ff;
    text-align: center;
}

.flinks-btns {
    display: flex;
    gap: .7em;
    justify-content: center;
    padding: 0 .2em 0 0;
}

.flink {
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    gap: 0.3em;
    margin-left: .2em;
    border-radius: .2em;
    padding: .2em;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    padding: .5em 1em;
}

.footer-email{
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.footer-connect, .follow{
    font-size: 1.3rem;
    font-weight: 500;
}

.footer-mail{
    font-size: 1rem;
}

.footer-icons{
    display: flex;
    flex-direction: column;
    gap: .7em;
}

.ficons{
    display: flex;
    gap: .5em;
    font-size: 1.8em;
    color: rgb(255, 157, 0);
    padding: .4em .5em .1em .5em;
    border-radius: .2em;
    box-shadow: 2px 2px 8px rgb(252, 49, 49);
}

.ficons a img{
    width: 35px;
    height: 32px;
    transition: all .3s linear;
}

.ficons a img:hover{
    transform: scale(1.2);
}

/* Media Query */

/* Media Query for Footer Bottom */
@media(max-width:1440px){
    .footer-middle{
        width: 180px;
        margin-right: 12em;
    }
}

@media(max-width:1200px){
    .footer-middle{
        width: 250px;
        margin-right: 10em;
    }
    .footer-para{
        width: 85%;
    }
}

@media(max-width:1050px){
    .footer-bottom{
        justify-content: none;
        gap: 1em;
    }
    .footer-left{
        width: 400px;
    }
    .footer-middle{
        margin-right: 0;
        width: auto;
    }
}
@media(max-width:972px){
    .footer-middle{
        margin-right: 0;
        width: 200px;
    }
}

@media(max-width:751px){
    .footer-left{
        width: 350px;
    }
    .footer-para{
        width: 90%;
    }
    .footer-middle{
        width: 180px;
    }
    .quick{
        font-size: 1.1em;
    }
    .flinks-btns{
        padding: 0;
        margin: 0;
    }
    .flink{
        padding: 0;
        margin: 0;
        gap: .1em;
        font-size: 1.1em;
    }
    .footer-connect{
        font-size: 1.2em;
    }
    .follow{
        font-size: 1.2em;
    }
    .ficons{
        gap: .2em;
    }
    .ficons a img{
        width: 28px;
        height: 25px;
    }
}

@media(max-width:600px){
    .footer-bottom{
        flex-direction: column;
        gap: 1.4em;
    }
    .footer-left{
        width: 80%;
    }
    .footer-middle{
        width: 30%;
        align-items: center;
    }
    .footer-right{
        width: 80%;
    }
    .footer-mail{
        text-align: left;
    }
    .ficons{
        gap: 1em;
        width: 300px;
        justify-content: center;
        align-self: center;
    }
    .ficons a img{
        width: 35px;
        height: 32px;
    }
}
@media(max-width:450px){
    .footer-left{
        width: 95%;
    }
    .footer-middle{
        width: 40%;
    }
}
@media(max-width:345px){
    .footer-bottom{
        align-items: center;
    }
    .footer-middle{
        width: 55%;
    }
    .footer-connect, .follow{
        font-size: 1.3em;
    }
    .ficons{
        width: 260px;
    }
    .fcompany-name{
        text-align: center;
        align-self: center;
    }
    .footer-para{
        width: 99.9%;
    }
}