@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+AU+VIC+WA+NT+Arrows&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@700&family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --text-color: #fff;
  --btn-color: rgb(83, 83, 224);
  --blue-btn: rgb(2, 2, 211);
}

.p-container {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  /* background-color: black; */
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to top, #e4eef2 0%, #edf3f6 100%);
}

.nav {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(./img/jaspreet-kalsi-twVW-dYQjm8-unsplash.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(./img/about14.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 2rem .8rem 1rem;
  /* position: fixed;
    top: 0;
    width: 100%; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.site-name {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(255, 238, 0);
  /* color: white; */
  text-shadow: 1px 1px 3px black;
}

.nav-items {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
}

.nav-items a {
  font-size: 1.3rem;
  font-weight: 700;
  /* color: white; */
  color: rgb(255, 255, 255);
  transition: all .2s linear;
  text-shadow: 2px 2px 3px black;
}

.nav-items a:hover {
  transform: translateY(-3px);
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: black;
  padding: 0rem .3rem;
  border-radius: .3rem;
  text-shadow: none;
}

/* .nav-item i {
  color: var(--text-color);
  font-size: 1.7rem;
  display: none;
} */

.ham {
  color: var(--text-color);
  font-size: 2.1rem;
  font-weight: 600;
  text-shadow: 2px 2px 3px black;
  display: none;
}

.hidden{
  position: fixed;
  top: 0px;
  right: 0px;
  /* background-color: #000; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(./img/about14.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  color: var(--text-color);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  display: none;
}

.hidden a{
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 2px 2px 3px black;
  transition: all .2s linear;
}

.hidden a:hover {
  transform: translateY(-3px);
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: black;
  padding: 0rem .3rem;
  border-radius: .3rem;
  text-shadow: none;
}

.close{
  font-size: 2.1rem;
  font-weight: 600;
  text-shadow: 2px 2px 3px black;
  position: absolute;
  top: 2px;
  right: 33px;
}

/* Nav Responsiveness */
@media(max-width:660px){
  .res{
    display: none;
  }

  .ham{
    display: block;
  }
}


.mylearning-content {
    /* border: 2px solid red; */
    max-width: 1200px;
    margin: 2rem auto;
    padding: 4rem 1rem 1rem 1rem;
    
  }
  
  .header {
    margin-bottom: 2rem;
  }
  
  .heading1 {
    color: #4a3500;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  .heading1 span {
    margin: 0 .8rem;
    color: rgb(238, 75, 0);
    font-size: 2.3rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }
  
  .header .blank1 {
    width: 110px;
    height: 3.3px;
    background: rgb(238, 75, 0);
    margin: .5rem auto 0 auto;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .header h2{
    color: #4a3500;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding: 15px;
  }
  
  .header p{
    color: #4a3500;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
  }
  
  /* Tab System Styling */
  .tabs {
    /* border: 2px solid brown; */
    position: relative;
    margin-bottom:1rem 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .tab-inputs {
    display: none;
  }
  
  .tab-labels {
    display: flex;
    border-bottom: 1px solid #ddd;
    position: relative;
  }
  
  .tab-label {
    padding: 1rem 2rem;
    cursor: pointer;
    color: #999;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .materials-btn {
    margin-left: auto;
    background-color: #006d77;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    align-self: center;
    transition: all .3s;
  }
  
  
  #tab1:checked~.tab-labels .tab-label[for="tab1"],
  #tab2:checked~.tab-labels .tab-label[for="tab2"],
  #tab3:checked~.tab-labels .tab-label[for="tab3"],
  #tab4:checked~.tab-labels .tab-label[for="tab4"],
  #tab5:checked~.tab-labels .tab-label[for="tab5"]{
    color: #4a3500;
    position: relative;
  }
  
  #tab1:checked~.tab-labels .tab-label[for="tab1"]::after,
  #tab2:checked~.tab-labels .tab-label[for="tab2"]::after,
  #tab3:checked~.tab-labels .tab-label[for="tab3"]::after ,
  #tab4:checked~.tab-labels .tab-label[for="tab4"]::after,
  #tab5:checked~.tab-labels .tab-label[for="tab5"]::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #4a3500;
    animation: slideIn 0.3s ease-out;
  }
  
  @keyframes slideIn {
    from {
        transform: scaleX(0);
    }
  
    to {
        transform: scaleX(1);
    }
  }
  
  .tab-content {
    /* border: 2px solid green; */
    display: none;
    animation: fadeIn 0.5s ease-in-out;
    margin-top: .6rem;
  }
  
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
  
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  #tab1:checked~.tab-content-1,
  #tab2:checked~.tab-content-2,
  #tab3:checked~.tab-content-3,
  #tab4:checked~.tab-content-4,
  #tab5:checked~.tab-content-5 {
    display: block;
  }
  
  .courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 95%;
    margin: 0 auto;
  }
  
  .course-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: .5rem;
    transition: all .2s;
  }
  
  .course-card:hover {
    transform: scale(1.03);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  
  .course-card img {
    width: 100%;
    height: 150px;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* padding: 0 .8rem; */
  }
  
  .course-content {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: .6rem 2rem;
    border-left: 3px solid rgb(245, 126, 82);
    ;
  }
  
  .course-code {
    font-size: .89rem;
    color: #7f7f7f;
    font-weight: 600;
  }
  
  .course-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 115, 255);
  }
  
  
  .instructor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  
  .inst-icon {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .inst-icon i {
    font-size: 1.3rem;
    color: #7f7f7f;
  }
  
  .instruct,
  .dur {
    font-size: .95rem;
    color: #7f7f7f;
  }
  
  .instructor-name {
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .calender {
    display: flex;
    /* align-items: center; */
    gap: .3rem;
    margin-top: .2rem
  }
  
  .days {
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .day i {
    font-size: .8rem;
    color: rgb(240, 174, 151);
  }
  
  .icon {
    font-size: .8rem;
    font-weight: 600;
  }
  
  .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  
  .stars i {
    font-size: .8rem;
    color: rgb(254, 176, 50);
    font-weight: 600;
  }
  
  .prize {
    font-size: 1.2rem;
    font-weight: 600;
    color: #4dc823;
  }
  
  .bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .4rem;
  }
  
  .bar {
    height: 10px;
    width: 100%;
    background-color: #dddcdc;
    border-radius: .5rem;
  }
  
  .bar-fill {
    height: 100%;
    width: 75%;
    /* background-color: rgb(0, 115, 255); */
    background-color: #4dc823;
    border-radius: .5rem;
  }
  
  .percentage {
    align-self: self-end;
    color: #444;
  }
  
  
  .course-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: .8rem;
  }
  
  .btn {
    padding: 0.6rem;
    border: 1px solid #006d77;
    border-radius: .3rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
  }
  
  .classroom {
    background-color: #006d77;
    color: white;
    transition: all .3s;
  }
  
  .same-btn:hover {
    /* background-color: #005a63; */
    background-color: rgb(0, 115, 255);
  }
  
  .material {
    background-color: white;
    color: #006d77;
    transition: all .3s;
  }
  
  .material:hover {
    background-color: rgb(0, 115, 255);
    color: white;
  }
  
  /* Media Query */
  @media(max-width:945px) {
    .mylearning-content {
        width: 98%;
        padding: 0;
        margin: 0 auto;
    }
  
    .materials-btn {
        text-align: center;
        padding: .4rem .1rem;
    }
  }
  
  @media(max-width:689px) {
    .courses-grid {
        gap: 1rem;
        width: 98%;
    }
  
    .tab-content {
        padding: 0;
    }
  }
  
  @media(max-width:650px) {
    .courses-grid {
        width: 70%;
    }
  
    .hidden-nav {
        top: 40px;
    }
  }
  
  @media(max-width:575px) {
    .tabs {
        overflow-y: scroll;
    }
  
    .course-card {
        align-self: self-start;
    }
  }
  
  @media (max-width:400px){
    .burger-card{
      width: 250px;
    }
  
    /* .tab-content{
      margin: 0;
    } */
  
    .courses-grid{
      margin: 2em;
    }
  }

  
    .burger-box{
    text-align: center;
  }
  
  .burger-box h1{
    margin-top: 1em;
    font-size: 2.5em;
    font-weight: 500;
  }
  
  .blank {
    width: 50px;
    height: 3px;
    background: #a5a5a5;
    margin: 0.3em auto;
    border-radius: 1em;
  }
  
  /* .blank1{
    width: 250px;
    height: 3px;
    border-radius: 2em;
    background: #918585;
    margin: auto;
  } */
  
  
  .burger-card{
    background: transparent;
    color: black;
    padding: 1em;
    text-align: center;
    margin-bottom: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 0.8em;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }
  
  .burger-card:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  .burger-card img{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
    height: 200px;
    width: 280px;
  }
  
  .burger-card h2{
    margin-top: .4rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #4a3500;
  }

  .burger-card p{
    color: #555;
  }
  
  #brgr-btn{
    text-align: center;
    /* align-self: center; */
    width: 48%;
    padding: .5rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: .3rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all .3s ease;
    margin-top: .8rem;
  }
  
  #brgr-btn:hover{
    background-color: rgb(238, 75, 0);
    color: white;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  

  /* Footer Styling */
.footer {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(./img/footer3.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  width: 100%;
}

.nw {
  animation: zoom-in 3s ease-in-out 0s forwards;
  opacity: 0;
  transition: all .5s linear;
}

.nw:hover {
  background-color: #ffffff;
  color: black;
  text-shadow: 2px 2px 2px rgb(255, 40, 176);
}

@keyframes zoom-in {
  0% {
    transform: scale(-1);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Footer Bottom Styling */
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--text-color);
  width: 100%;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: .9em;
}

.fcompany-name p {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: rgb(127, 37, 37);
  display: inline-block;
  padding: .2em .7em;
  font-size: 1.5em;
  font-weight: 500;
  border-radius: .1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-para {
  width: 60%;
  font-size: 1.15rem;
  color: #fff;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  gap: .7em;
  padding: .7em 1.2em;
  border-radius: .9em;
  background-color: rgb(192, 174, 174);
  box-shadow: rgba(4, 88, 255, 0.947) 6px 6px 13px -3px;
  margin-right: 17em;
}

.quick {
  font-size: 1.4em;
  font-weight: 500;
  color: #0044ff;
  text-align: center;
}

.flinks-btns {
  display: flex;
  gap: .7em;
  justify-content: center;
  padding: 0 .2em 0 0;
}

.flink {
  font-size: 1.2em;
  font-weight: 600;
  display: flex;
  gap: 0.3em;
  margin-left: .2em;
  border-radius: .2em;
  padding: .2em;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5em;
  padding: .5em 1em;
  color: #fff;
}

.footer-email {
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.footer-connect,
.follow {
  font-size: 1.3rem;
  font-weight: 500;
}

.footer-mail {
  font-size: 1rem;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  gap: .7em;
}

.ficons {
  display: flex;
  gap: .5em;
  font-size: 1.8em;
  color: rgb(255, 157, 0);
  padding: .4em .5em .1em .5em;
  border-radius: .2em;
  box-shadow: 2px 2px 8px rgb(252, 49, 49);
}

.ficons a img {
  width: 35px;
  height: 32px;
  transition: all .3s linear;
}

.ficons a img:hover {
  transform: scale(1.2);
}


/* Media Query for Footer Bottom */
@media(max-width:1440px) {
  .footer-middle {
    width: 180px;
    margin-right: 12em;
  }
}

@media(max-width:1200px) {
  .footer-middle {
    width: 250px;
    margin-right: 10em;
  }

  .footer-para {
    width: 85%;
  }
}

@media(max-width:1050px) {
  .footer-bottom {
    justify-content: none;
    gap: 1em;
  }

  .footer-left {
    width: 400px;
  }

  .footer-middle {
    margin-right: 0;
    width: auto;
  }
}

@media(max-width:972px) {
  .footer-middle {
    margin-right: 0;
    width: 200px;
  }
}

@media(max-width:751px) {
  .footer-left {
    width: 350px;
  }

  .footer-para {
    width: 90%;
  }

  .footer-middle {
    width: 180px;
  }

  .quick {
    font-size: 1.1em;
  }

  .flinks-btns {
    padding: 0;
    margin: 0;
  }

  .flink {
    padding: 0;
    margin: 0;
    gap: .1em;
    font-size: 1.1em;
  }

  .footer-connect {
    font-size: 1.2em;
  }

  .follow {
    font-size: 1.2em;
  }

  .ficons {
    gap: .2em;
  }

  .ficons a img {
    width: 28px;
    height: 25px;
  }
}

@media(max-width:600px) {
  .footer-bottom {
    flex-direction: column;
    gap: 1.4em;
  }

  .footer-left {
    width: 80%;
  }

  .footer-middle {
    width: 30%;
    align-items: center;
  }

  .footer-right {
    width: 80%;
  }

  .footer-mail {
    text-align: left;
  }

  .ficons {
    gap: 1em;
    width: 300px;
    justify-content: center;
    align-self: center;
  }

  .ficons a img {
    width: 35px;
    height: 32px;
  }
}

@media(max-width:450px) {
  .footer-left {
    width: 95%;
  }

  .footer-middle {
    width: 40%;
  }
}

@media(max-width:345px) {
  .footer-bottom {
    align-items: center;
  }

  .footer-middle {
    width: 55%;
  }

  .footer-connect,
  .follow {
    font-size: 1.3em;
  }

  .ficons {
    width: 260px;
  }

  .fcompany-name {
    text-align: center;
    align-self: center;
  }

  .footer-para {
    width: 99.9%;
  }
}